
#expand-form {
  margin-left: 5vw;
  margin-top: 3vh;
}

#expand-form-review {
  margin-left: 55%;
  margin-top: 3vh;
}

.form-box {
  width: 25%;
  margin-right: 5%;
  position: absolute;
  bottom: 1vh;
  padding: 10px;
  border-radius: 5px;
  right: 35vw;
}
